name: Test
permissions:
  contents: read

on:
  pull_request:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12", "3.13", "3.14"]
      fail-fast: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
        
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pylint homeassistant 

      - name: Install ruff
        uses: astral-sh/ruff-action@v3
        with:
          args: "--version"

      - name: pylint
        run: pylint $(git ls-files '*.py')
        if: ${{ !cancelled() }}

      - name: ruff check
        run: ruff check
        if: ${{ !cancelled() }}

      - name: ruff format
        run: ruff format --check
        if: ${{ !cancelled() }}